name: CI - Build, Push and Update Manifest

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout App Repo
        uses: actions/checkout@v3

      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ml-gitops-app:${{ steps.vars.outputs.TAG }}

      #  Clone Manifest Repo
      - name: Checkout Manifest Repo
        uses: actions/checkout@v3
        with:
          repository: Krishna8934/ml-gitops-manifests
          token: ${{ secrets.GH_TOKEN }}
          path: manifests

      #  Update deployment.yaml image tag
      - name: Update Image Tag
        run: |
          sed -i "s|image:.*|image: ${{ secrets.DOCKER_USERNAME }}/ml-gitops-app:${{ steps.vars.outputs.TAG }}|g" manifests/deployment.yaml

      - name: Commit and Push Changes
        run: |
          cd manifests
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update image tag to ${{ steps.vars.outputs.TAG }}"
          git push
